/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */




/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       true;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  true;
$use-link-complex:  true;
$use-flyout:        true;
$use-arrows:        true;
$use-sprite:        true;
$use-icon-text:     true;
$use-beautons:      true;
$use-lozenges:      true;
$use-rules:         true;
$use-stats:         true;
$use-greybox:       true;




/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
 
 


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */


/**
 * Switch on/off the include of declaration parts
 *
 * As sass do not allow to use conditions with `@imports`,
 * we must deal with 
 
 */
 



/**
 * Switch on/off extended objects
 *
 * Define them each, e.g.
 *
    `$use-own-extends-<NAME-OF-OBJECT>`:          true|false;`
    `$use-own-extends-<NAME-OF-SECOND-OBJECT>`:   true|false;`
    ... a.s.o. ...  
 *
 */
// This particular object is included only as
// an example. It is not intended for real usage.
// So set it to `false` by default.
$use-own-extends-grid--ordinal:     false;

// Do we have own functions and/or mixins?
$use-own-functions:                 false;
$use-own-mixins:                    false;


// default border radius
$border-radius:    5px!default;






