/**
 * Paul.css
 *
 * Description
 *
    ... Markup/Usage Example ...
 *
 */



/*html*/.paul {

  body {
    color: $textColor;
    background-color: $pageBackgroundColor;
    // @include test("30em") {
    //   background-color: green;
    // }
  }

  .page {
    max-width: 42em;
    margin: 0 auto;
    padding: 5em 2em;
  }

  ul {
    margin-left: 0;
    list-style: none;
    border-top: 0;

    li, dd, dt {
      border-bottom: 0;
      background-color: #f9f9f9;
      margin-bottom: 0.5rem;
    }
  }

  ol {
    margin-left: $base-spacing-unit;

    > li {
      margin-bottom: 0.5rem;
    }
  }

  a, a:visited {
    color: #EB583B;
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4 {
    //font-family: "Helvetica Neue", sans-serif;
    color: $headingColor;
    font-weight: 400;
    @extend %sass-margin-bottom;

    span {
      color: #999;
    }
  }

  h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
  }

  h2 {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }

  h3 {
    font-weight: 600;
    border-bottom: 5px solid $borderColor;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
  }

  h4 {
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  /*hr*/.deco {
    border: none;
    border-bottom: 5px solid #efefef;
    margin-bottom: 3rem;
  }

  .tip {
    padding: $half-spacing-unit;
    background-color: $tipBackgroundColor;
    //@include font-size($milli-size)
    font-style: italic;

    > span {
      font-weight: 600;
    }
  }

  .btn {
    background-color: lighten($black, 60%);
    padding: 0.35em;
    border-radius: 0;
    line-height: 2;
  }

  span.btn {
    cursor: auto;
  }

  .notice {
    padding: $half-spacing-unit;
    background-color: lighten($black, 60%);
  }



  [role="main"] {
    //background-color: $pageBackgroundColor;
  }

  [role="main"] div, .grid {
    margin-bottom: 4.5rem;
  }

  .sprite {
    background: url(../img/sprite.png) 0 0 no-repeat;
    background-color: #EB583B;

    &.sprite--questionmark {
      background-position: 0 0;
    }
    &.sprite--user {
      background-position: 0 -16px;
    }
    &.sprite--bullet {
      background-position: 0 -32px;
    }
  }

  .index {
    h1 {
     margin-bottom: 1rem;
    }

    h2 {
     font-family: $base-font-family;
    }

    [role="main"] {

     a {
       font-weight: 600;
     }

     li {
       background-color: transparent;
       padding: 0;

       a {

       }
     }
    }
  }

  .inline-list {

    @include inline-block-fix(li, 0.31);

    > li {
      display: inline-block;
      vertical-align: middle;
      margin-right: $half-spacing-unit;
      margin-bottom: $half-spacing-unit;
    }

    a {
      background-color: lighten($black, 60%);
      padding: 0.35em;
    }
  }

  /*ul*/.bullets {
    margin-left: $half-spacing-unit;
    > li {
      list-style: disc outside;
    }
  }

  /*ul*/.bullets--text {

    > li {
      @extend %sass-margin-bottom;
    }
  }

}