/**
 * example.scss
 *
 * This is only a example project section css file.
 *
 * As we use globbing while importing styles to the compiled
 * `styles.css`, you may apply as many partials as you like.
 * So to say, having parts for layout, typography, modules etc.
 * is fine.
 */





/**
 * The following styles attach some visual styling only
 * for the listing of availabile inuit objects (`structure.html`).
 *
 * It's likely you want delete these styles for your production.
 */
.page {
	max-width: 64em;
	margin: 0 auto;
}

hr {
	margin: ($inuit-base-spacing-unit * 4) 0;
	border-width: 1px;
	border-color: #ccc;
}

h2 {
	color: #EB583B;
}
h2:before {
	content: "Object: ";
	color: #bbb;
}

h3 {
	color: #EB583B;
}
h3:before {
	content: "Modifier: ";
	color: #bbb;
}

/* objects */
.layout, .layflex {
	background-color: #ccc;
}
[class*="layout__item"], [class*="layflex__item"] {
	background-color: #999;
}

.block-list > li {
	background-color: #ccc;
}

.tabs > li {
	background-color: #ccc;
}

.flag__img  {
	//max-width: none;
}