/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class=block-list>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
      <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
   </ul>
 *
 * Extend this object in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/hR57q
 *
 */
.block-list {

    &,
    > li {
        border:0 solid #ccc; /* Override this color in your theme stylesheet */
    }
}
.block-list {
    list-style: none;
    margin-left: 0;
    border-top-width: 1px;

    > li {
        border-bottom-width: 1px;
        padding: $half-spacing-unit;
    }
}


/**
 * `.block-list--horizontal` extends `.block-list` and throws the list into vertical mode, e.g.:
 *
   <ul class=block-list block-list--horizontal>
      <li>Foo</li>
      <li><a href=#>Foo Bar Baz</a></li>
      <li>Baz</li>
      <li><a href=#>Foo Bar Baz</a></li>
   </ul>
 *
 */
.block-list--horizontal {
   border: 0;
   /**
    * Remove whitespace caused by `inline-block`.
    */    
   @extend .ibf;
   white-space:nowrap;

   > li {
       @extend .ibn;        
       display: inline-block;
       padding: 0;
       border: 0;

       > a {
           display: block;
           padding:$half-spacing-unit;
       }
   }
}
