/**
 * Paul.css
 *
 * Description
 *
    ... Markup/Usage Example ...
 *
 */



/*html*/.paul {

  body {
    color: #444;
    background-color: $pageBackgroundColor;
    // @include test("30em") {
    //   background-color: green;
    // }
  }

  ul {
    margin-left: 0;
    list-style: none;
    border-top: 0;

    li, dd, dt {
      border-bottom: 0;
      background-color: #f9f9f9;
    }
  }

  ol {
    margin-left: $base-spacing-unit;
  }

  a, a:visited {
    color: #EB583B;
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  h1, h2, h3 {
    color: #555;
    font-weight: 700;
    margin-bottom: 3rem;

    span {
      color: #999;
    }
  }

  h1 {
    //font-size: 2.9rem;
    font-weight: 700;
  }

  h2 {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.9rem;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: 0.75rem;
  }

  /*hr*/.deco {
    border: none;
    border-bottom: 5px solid #efefef;
    margin-bottom: 3rem;
  }

  .tip {
    padding: $half-spacing-unit;
    background-color: $tipBackgroundColor;
    //@include font-size($milli-size)
    font-style: italic;

    > span {
      font-weight: 600;
    }
  }

  [role="main"] div, .grid {
    margin-bottom: 4.5rem;
  }

  .page {
    max-width: 45em;
    margin: 0 auto;
    padding: 5em 2em;
  }

  .sprite {
    background: url(../img/sprite.png) 0 0 no-repeat;
    background-color: #EB583B;

    &.sprite--questionmark {
      background-position: 0 0;
    }
    &.sprite--user {
      background-position: 0 -16px;
    }
    &.sprite--bullet {
      background-position: 0 -32px;
    }
  }

  .index {
    h1, h2 {
     margin-bottom: 3rem;
    }

    [role="main"] {

     a {
       font-weight: 600;
     }

     li {
       background-color: transparent;
       padding: 0;

       a {

       }
     }
    }
  }

  .inline-list {

    @include inline-block-fix(li, 0.31);

    > li {
      display: inline-block;
      vertical-align: top;
      margin-right: $half-spacing-unit;
      margin-bottom: $half-spacing-unit;
    }

    a {
      background-color: #f2f2f2;
      padding: 0.35em;
    }
  }

  /*ul*/.bullets {
    margin-left: $half-spacing-unit;
    > li {
      list-style: disc outside;
    }
  }
}