/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Create Pixels to EM counterpart
 *
 * Context default is the base font size,
 * adjust as you need
 *
   `padding: em(16px);`
   
   // output
   padding: 1.5em;
   
   `padding: em(16px, 12px);`
   
   // output
   padding: 1.5em;
   
   or
   
   `padding: em($base-spacing-unit) em($half-spacing-unit);`
   
   // output
   padding: 1.5em 0.75em;
 *
 */
@function em($props, $context: $base-font-size) {
  @return ($props/$context)*1em;
}
