

/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Override inuit.css’ default variables values here.
 *
 * Those variables listed below are only a selection
 * of variables which you supposedly like to apdapt to your
 * project. But take this only as an example. Place any
 * variables that should override inuit.css’ defaults here.
 *
 * See `/bower_components/inuit.css/_defaults.scss` for
 * available variables.
 */


/**
 * Framework
 */
$base-font-family: Georgia, serif;
$base-font-size: 23px !default;
$base-line-height: 40px !default;



$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size !default;


/**
 * Font-sizes (in pixels).
 */
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px;

$h1-size:           52px; // .alpha
$h2-size:           36px; // .beta
$h3-size:           32px; // .gamma
$h4-size:           24px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        18px;
$micro-size:        10px;


/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         481px !default;
$desk-start:        1024px !default;
$desk-wide-start:   1200px !default;






/*------------------------------------*\
    $abstractions-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ abstractions and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing abstractions and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;









$white: #fff;
$black: #4f5759;
$red: red;
$green: lighten(greenyellow, 30%);


$textColor: $black;
$headingColor: $black;
$pageBackgroundColor: lighten($black, 50%);
$tipBackgroundColor: $green;


//$codeTextColor: darken($white, 5%);
//$codeBackgroundColor: lighten($black, 25%);

$codeTextColor: $black;
$codeBackgroundColor: lighten($black, 56%);

$borderColor: lighten($black, 45%) !default;



$border-radius:    10px!default;






/*------------------------------------*\
    $PROJECT-INCLUDES
\*------------------------------------*/

/**
 * Switch on/off extensions or created abstractions.
 *
 * Follows the inuit.css approach to switch on/off object including
 * to have a as light css output as possible.
 *
    1. Add a new file for every abstraction within
       the appropriate folder, e.g.

       `abstracts/base/` 			// created abstractions
       `abstracts/extend/` 		// extensions inuit.css abstractions

    2. Define a variable to use in our condition (s. below), e.g.

      `$use-abstract-<NAME-OF-OBJECT>`:         		 	true|false;`
      `$use-abstract-ext-<NAME-OF-SECOND-OBJECT>`:   true|false;`
      ... a.s.o. ...

    2. Add a condition within this file, e.g.

      // created abstractions
      @if $use-abstract-<NAME-OF-OBJECT> == true {
        ... object declarations ...
      }

      // extensions inuit.css abstractions
      @if $use-abstract-ext-<NAME-OF-OBJECT> == true {
        ... object declarations ...
      }
 *
 */

/**
 * This particular object is just an (empty) example.
 * Implements a new object, s. `abstractions/create/_object.scss`,
 * Exluded by default (bool `false`).
 */
$use-abstract-example: 						false !default;

/**
 * This particular object modifier is just an example.
 * Extends the inuit `grid` object, s. `abstractions/extend/_grids--ordinal.scss`,
 * Exluded by default (bool `false`).
 */
$use-abstract-ext-example:        false !default;


