/**
 * Project configuration
 *
 * Section: example
 *
 *
 * FRAMEWORK   - Override/define inuit.css framework defaults
 * COLORS      - Project agnostic colors, project aware colors
 * INTERFACE   - Element defaults
 * INCLUDES    - Switch on/off inclusion of abstractions
 */



/**
 * $FRAMEWORK
 *
 * Override defaults of inuit.css
 *
 * See `/bower_components/inuit.css/_defaults.scss` for
 * available variables.
 */
// ... override inuit (only) variables here ...



/**
 * At least you will like to switch on/off
 * inuit.css abstractions, right?
 *
 * bool true|false (default)
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;



/**
 * $COLORS
 *
 * 1. Project agnostic colors
 * 2. project aware colors
 */


/**
 * Project agnostic colors
 */
// ...

/**
 * Project aware colors
 */
// ...







/**
 * $INTERFACE
 *
 * Define element default values
 */
// ...







/**
 * $INCLUDES
 *
 * Turn on/off abstractions
 *
 * ALL abstraction which exists within the
 * `abstracts/` folder must be declared here!
 * Whether you are using them or not. This is
 * because otherwise SASS spits out an error.
 *
 * bool true|false (default)
 */
$use-abstract-example: 			false !default;
$use-abstract-ext-example:  false !default;



