/**
 * Project configuration
 *
 * Section: example
 *
 *
 * FRAMEWORK   - Override/define inuit.css framework defaults
 * COLORS      - Project agnostic colors, project aware colors
 * INTERFACE   - Element defaults
 * INCLUDES    - Switch on/off inclusion of abstractions
 */



/**
 * $FRAMEWORK
 *
 * Set defaults of inuit.css stuff
 *
 * See `/bower_components/inuit.css/_defaults.scss` for
 * available variables.
 */

// Base stuff
$base-font-family: Georgia, serif;
$base-font-size: 23px !default;
$base-line-height: 40px !default;

// Base stuff calculates
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size !default;

// Font-sizes (in pixels)
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px;

$h1-size:           58px; // .alpha
$h2-size:           36px; // .beta
$h3-size:           32px; // .gamma
$h4-size:           24px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        18px;
$micro-size:        10px;

// Breakpoints
$lap-start:         481px !default;
$desk-start:        1024px !default;
$desk-wide-start:   1200px !default;

// At least you will like to
// switch on/off inuit.css abstractions
// here, right?
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/**
 * $COLORS
 *
 * 1. Project agnostic colors
 * 2. project aware colors
 */

/**
 * Project agnostic colors
 */
$white: #fff;
$black: #4f5759;
$red: red;
$green: lighten(greenyellow, 30%);


/**
 * Project aware colors
 */
$textColor: $black;
$headingColor: $black;
$pageBackgroundColor: lighten($black, 50%);
$tipBackgroundColor: $green;
$codeTextColor: $black;
$codeBackgroundColor: lighten($black, 56%);
$borderColor: lighten($black, 45%) !default;





/**
 * $INTERFACE
 *
 * Define element default values
 */
$border-radius:    10px!default;





/**
 * $INCLUDES
 *
 * Turn on/off abstractions
 *
 * bool true|false (default)
 */
$use-abstract-example: 			false !default;
$use-abstract-ext-example:  false !default;