/**
 * Single elements without any special context
 *
 * Description
 *
    ... Markup/Usage Example ... 
 *
 */

a {
  color: red;
  @include hoverActiveFocus('text-decoration', none);
}


.sprite { 
  background: url(../img/sprite.png) 0 0 no-repeat;
  color: red; 
}