@charset "UTF-8";
/*------------------------------------*\
    $STYLES.CSS
\*------------------------------------*/
/**
 * The compiled sass output of this file is the main
 * (and - beside of the lazy dated.css for IE < 9 - the only)
 * css stylesheet to adress in your HTML.
 * The declaration goes like that:
 *
    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="css/styles.css">
    <!--<![endif]-->
 *
 * @ref http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 */



/**
 * Import base styles
 *
 * In _project.scss all base variables are declared such typos,
 * font/size, vertical rhythm measuring and some other stuff.
 * Change their values to fit your needs.
 */
@import "build";



/**
 * Individual media query styling
 */



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {

    * {
        background: transparent !important;
        color: #000000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for img, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}